@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars"; 
// ==== // VARS ===========================================================================================


// ==== Normalize ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
//@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
//@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
//@import "common/popup/popup";
// ==== // POPUP ===========================================================================================



* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.4rem;
	transition: opacity .8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;

	&.lock {
		overflow: hidden;
	}

	&.is-load {
		& ._preload-body {
			opacity: 0;
			visibility: hidden;

			&:before {
				display: none;
			}
		}
	}

}

._preload-body {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	transition: all .6s ease .2s;

	&:before {
		position: absolute;
		content: '';
		z-index: 999;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		border: 4px solid #6e6e6e;
		border-right: 4px solid #fff;
		transform: translate(-50%, -50%);
		animation: preloadBody 2s linear infinite;
	}
}

@keyframes preloadBody {
	from {transform: translate(-50%, -50%) rotate(0);}
	to {transform: translate(-50%, -50%) rotate(360deg);}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}



.center {
	text-align: center;
}


._page {
	flex: 1 1 auto;
	padding: 1px 0;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}


.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}



// === title ========================================================================
.title-1 {

}
.title-2 {

}

.title-3 {

}

.title-4 {

}

.title-5 {


}
.title-6 {


}

.suptitle {

}
.subtitle {

}

.text {

}
// === and title ========================================================================



// === btn ========================================================================
.btn-default {

}

button.btn-default {
	
}

// === and btn ========================================================================

.input {

}

.textarea {

}

.link {

}


// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	& h1 {}
	& h2 {

	}
	& h3 {}
	& h4 {}

	& h5 {

	}
	& h6 {}

	& p {

	}

	& ul {

	}

	& ol {}

	& figure {}

}
// === and TEXT CONTETN BLOCK ========================================================================


// ==== BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/checkbox/checkbox";
@import "../common/diagram/diagram";
// ==== BLOCKS =====================================================


// ==== PAGES =====================================================

	// ==== HOME =====================================================
	@import "pages/home";
	// ==== AND HOME =====================================================
	
// ==== AND PAGES =====================================================

.bg-test-wrap {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
	width: 100%;
	max-width: 1200px;
	height: 600px;
	border-radius: 60px;
	position: relative;
	margin: 100px auto 100px;
	margin-bottom: 500px;
	&:before {
		position: absolute;
		content: '';
		display: block;
		z-index: 4;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: -70px -70px #fff;
		border-radius: 60px;
	}

	&:after {
		position: absolute;
		content: '';
		display: block;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 120%;
		box-shadow: 70px -70px #fff;
		border-radius: 60px;
	}

	& > span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 6;

		&:before {
			position: absolute;
			content: '';
			display: block;
			z-index: 4;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: -70px 70px #fff;
			border-radius: 60px;
		}
	
		&:after {
			position: absolute;
			content: '';
			display: block;
			z-index: 5;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 120%;
			box-shadow: 70px 70px #fff;
			border-radius: 60px;
		}
	}
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.bg-test {
	width: 100%;
	height: 100%;
	border-radius: 60px;
	position: relative;
	overflow: hidden;
	font-size: 62px;
}

@mixin dots($count) {
	$text-shadow: ();
	@for $i from 0 through $count {
	  $text-shadow: $text-shadow,
				   (-.5+(random()) * 3) + em
				   (-.5+(random()) * 3) + em
				   7px
				   hsla(random() * 360, 100%, 50%,.9);
	}
	text-shadow: $text-shadow;
  }
  

  
 .bg-test::before, .bg-test::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3em;
	height: 3em;
	content: '☁';
	mix-blend-mode: screen;
	animation: 44s -27s move infinite ease-in-out alternate;
  }
  

  
  .bg-test::before {
	@include dots(20);
	animation-duration: 42s;
	animation-delay: -23s;
  }
  
  .bg-test::after {
	@include dots(20);
	animation-duration: 41s;
	animation-delay: -19s;
  }
  
  
  @keyframes move {
	from {
	  transform: rotate(0deg) scale(12) translateX(-20px);
	}
	to {
	  transform: rotate(360deg) scale(18) translateX(20px);
	}
  }