@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== Normalize ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
//@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
//@import "common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.4rem;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;
	background-color: #fafafd;

	&.lock {
		overflow: hidden;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;
	width: 100%;
}

.container {
	max-width: 1850px;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: $md4+px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.container-md {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: $md4+px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

[data-scroll] {
	& .simplebar-track.simplebar-vertical {
		width: 10px;
		background-color: #f4f3f6;
		border-radius: 5px;
	}

	& .simplebar-scrollbar {
		&:before {
			background: $color2;
		}
	}
}

// === title ========================================================================
.title-1 {
	font-family: $titleFontFamily;
	font-weight: bold;
	font-size: 38px;
	line-height: 1.15em;
	margin-top: 0;
	margin-bottom: 0;

	@media (max-width: $md3+px) {
		font-size: 32px;
	}
}
.title-2 {
	font-family: $titleFontFamily;
	font-weight: 600;
	font-size: 28px;
	line-height: 1.21em;
}

.title-3 {
	font-family: $titleFontFamily;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.5em;
}

.title-4 {
	font-family: $titleFontFamily;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.44em;
}

.title-5 {
}
.title-6 {
}

.suptitle {
}
.subtitle {
}

.text {
}
// === and title ========================================================================

// === btn ========================================================================
.btn-default {
	display: inline-flex;
	min-height: 60px;
	background: linear-gradient(98.85deg, #f7b982 -1.62%, #ff8393 75.11%);
	border-radius: 50px;
	color: #f4f3f6;
	align-items: center;
	justify-content: center;
	min-width: 200px;
	padding: 15px 30px;
	font-weight: 600;
	font-size: 14px;
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;

	& > span {
		position: relative;
		z-index: 2;
	}

	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: #36334f;
		transition: all 0.3s ease;
	}

	@media (min-width: 992px) {
		&:hover {
			&:before {
				opacity: 0;
			}
		}
	}
}

button.btn-default {
}

// === and btn ========================================================================

.input {
	background: #ffffff;
	border: 1px solid #f4f3f7;
	box-sizing: border-box;
	border-radius: 50px;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 10px 24px;
	width: 100%;

	&:focus {
		border: 1px solid $color2;
	}
}

.textarea {
	background: #ffffff;
	border: 1px solid #f4f3f7;
	box-sizing: border-box;
	border-radius: 30px;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	height: 109px;
	padding: 20px 24px;
	width: 100%;
	resize: none;
	&:focus {
		border: 1px solid $color2;
	}
}

.link {
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-size: 16px;
	line-height: 1.5em;
	color: rgba($textColor, 0.8);
	& h1 {
	}
	& h2 {
	}
	& h3 {
		font-family: $titleFontFamily;
		font-weight: 600;
		font-size: 20px;
		line-height: 1.5em;
		margin-bottom: 0.5em;
		color: $textColor;
	}
	& h4 {
	}

	& h5 {
	}
	& h6 {
	}

	& p {
		margin-bottom: 1.25em;
	}

	& ul {
	}

	& ol {
	}

	& figure {
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/checkbox/checkbox";
@import "../common/diagram/diagram";
@import "../common/dropdown/dropdown";
@import "../common/anime-bg-box/anime-bg-box";
@import "../common/h-filter/h-filter";
@import "../common/select/select";
@import "../common/comments-block/comments-block";
@import "../common/rating/rating";
@import "../common/hero/hero";
@import "../common/diagram-info/diagram-info";
@import "../common/sidebar-list/sidebar-list";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================
@import "pages/home";
@import "pages/single-zodiac";
@import "pages/comparison";

// ==== AND PAGES =====================================================
