.button {
    display: flex;
    min-height: 60px;
    width: 280px;
    margin: 40px auto 0;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(66, 39, 185);
    padding: 8px 15px;
    border: 2px solid rgb(66, 39, 185);
    background: #fff;
    transition: all .2s ease;
    font-weight: 700;
    letter-spacing: 0.1em;
    position: relative;
  //  overflow: hidden;

    & > span {
        position: relative;
        z-index: 3;
    }

    @media (min-width: 992px) {
        &:hover {
            color: #fff;

            &:after {
                transform: translateX(0%);
            }
            &:before {
                transform: translateX(0%);
            }
        }
    }

    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(66, 39, 185);
        transition: all .3s ease;
        z-index: 2;
        transform: translateX(-100%);
    }

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(66, 39, 185, 0.4);
        transition: all .2s ease;
        z-index: 1;
        transform: translateX(-100%);
    }
    
}

._puls-decor {
    background: rgb(66, 39, 185);
    border-radius: 50%;
    animation: pulsAnim 0.7s ease-out forwards;
}

@keyframes pulsAnim {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
        background: #fff;
        opacity: 0;
    }
}