.single-zodiac-info {
    &__list {
        padding: 0px 100px;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @media (max-width: 1399.98px) {
            padding: 0px 32.5px;
        }

        @media (max-width: $md3+px) {
            padding: 0px 15px;
        }

        & > li {
            flex: 0 1 calc(50% - 15px);
            margin-bottom: 50px;

            &.full-width {
                flex: 0 1 100%;

                & .single-zodiac-info-card__text {
                    @media (min-width: 768px) {
                        max-height: 370px;
                    }
                }
            }
        }
    }
}

.single-zodiac-info-card {
    background: #ffffff;
    box-shadow: 0px 4px 40px rgba(174, 167, 188, 0.2);
    border-radius: 30px;
    position: relative;
    padding: 70px 34px 45px 70px;

    @media (max-width: 1399.98px) {
        padding: 60px 32.5px;
    }

    @media (max-width: $md3+px) {
        padding: 55px 15px;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 70px;

        @media (max-width: 1399.98px) {
            left: 32.5px;
        }

        @media (max-width: $md3+px) {
            left: 25px;

            & img {
                width: 40px;
            }
        }

        & img {
            width: 50px;
            height: auto;
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        max-height: 190px;
        overflow: auto;
        padding-right: 30px;
    }
}

.h-filter-wrap {
    margin-bottom: 50px;
}

.bg-wrap {
    margin-bottom: 50px;

    & .hero {
        margin-bottom: 0;
    }

    & .anime-bg-box__body {
        padding: 50px 100px 50px;
        color: $textColorLight;

        @media (max-width: 1399.98px) {
            padding: 50px 32.5px 50px;
        }

        @media (max-width: $md3+px) {
            padding: 30px 15px 30px;
        }
    }

    & .hero__bottom {
        color: $textColorLight;
        background-color: transparent;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
    }
}

.single-zodiac-info-v2 {
    display: flex;

    @media (max-width: $md2+px) {
        display: flex;
        flex-direction: column-reverse;
    }

    &__col-1 {
        color: $textColor;

        @media (min-width: 992px) {
            flex: 1 1 auto;
            margin-right: 30px;
        }

        & > div {
            &:not(:last-child) {
                margin-bottom: 30px;

                
            }
        }
    }

    &__col-2 {
        flex: 0 0 370px;
        display: flex;
        flex-direction: column;

        &._flex-end {
            justify-content: flex-end;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 30px;
        }
    }
}


