.diagram {
    margin: 0 auto;
    width: 100%;
    max-width: 995px;
    position: relative;
    opacity: 0;
    transition: all 1s ease;

    & svg {
        position: absolute;
        transition: all .4s ease;
        left: 0;
        top: 0;
        pointer-events: none;

        &.level-10 {
            width: 31.15%;
            height: 42.5%;
            &:nth-child(1) {
                left: 17%;
                top: 0;
            }
            &:nth-child(2) {
                left: 41.8%;
                top: -4%;
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                left: 62.4%;
                top: 11.2%;
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                left: 66.35%;
                top: 36.2%;
                transform: rotate(135deg);
            }
            &:nth-child(5) {
                left: 51.5%;
                top: 57.2%;
                transform: rotate(180deg);
            }
            &:nth-child(6) {
                left: 26.68%;
                top: 61.2%;
                transform: rotate(225deg);
            }
            &:nth-child(7) {
                left: 6.3%;
                top: 45.7%;
                transform: rotate(270deg);
            }
            &:nth-child(8) {
                left: 2.3%;
                top: 20.7%;
                transform: rotate(315deg);
            }
        }
        &.level-9 {
            width: 28.14%;
            height: 37.88%;
            &:nth-child(1) {
                left: 20.1%;
                top: 4.6%;
            }
            &:nth-child(2) {
                left: 42.8%;
                top: 1.1%;
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                left: 61.7%;
                top: 15.15%;
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                left: 65.2%;
                top: 38.1%;
                transform: rotate(135deg);
            }
            &:nth-child(5) {
                left: 51.4%;
                top: 57.24%;
                transform: rotate(180deg);
            }
            &:nth-child(6) {
                left: 28.56%;
                top: 60.83%;
                transform: rotate(225deg);
            }
            &:nth-child(7) {
                left: 10%;
                top: 46.43%;
                transform: rotate(270deg);
            }
            &:nth-child(8) {
                left: 6.6%;
                top: 23.4%;
                transform: rotate(315deg);
            }
        }
        &.level-8 {
            width: 24.92%;
            height: 33.36%;
            &:nth-child(1) {
                left: 23.3%;
                top: 9.15%;
            }
            &:nth-child(2) {
                left: 43.97%;
                top: 6%;
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                left: 60.9%;
                top: 19.1%;
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                left: 64%;
                top: 39.8%;
                transform: rotate(135deg);
            }
            &:nth-child(5) {
                left: 51.4%;
                top: 57.2%;
                transform: rotate(180deg);
            }
            &:nth-child(6) {
                left: 30.7%;
                top: 60.3%;
                transform: rotate(225deg);
            }
            &:nth-child(7) {
                left: 13.9%;
                top: 47.1%;
                transform: rotate(270deg);
            }
            &:nth-child(8) {
                left: 10.9%;
                top: 26.2%;
                transform: rotate(315deg);
            }
        }
        &.level-7 {
            width: 21.7%;
            height: 28.84%;
            &:nth-child(1) {
                left: 26.5%;
                top: 13.6%;
            }
            &:nth-child(2) {
                left: 45.15%;
                top: 11%;
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                left: 60.3%;
                top: 22.9%;
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                left: 62.9%;
                top: 41.65%;
                transform: rotate(135deg);
            }
            &:nth-child(5) {
                left: 51.45%;
                top: 57.26%;
                transform: rotate(180deg);
            }
            &:nth-child(6) {
                left: 32.75%;
                top: 59.85%;
                transform: rotate(225deg);
            }
            &:nth-child(7) {
                left: 17.8%;
                top: 47.75%;
                transform: rotate(270deg);
            }
            &:nth-child(8) {
                left: 15.25%;
                top: 28.87%;
                transform: rotate(315deg);
            }
        }
        &.level-6 {
            width: 18.39%;
            height: 24.32%;
            &:nth-child(1) {
                left: 29.8%;
                top: 18.158%;
            }
            &:nth-child(2) {
                left: 46.3%;
                top: 16.1%;
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                left: 59.75%;
                top: 26.75%;
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                left: 61.85%;
                top: 43.45%;
                transform: rotate(135deg);
            }
            &:nth-child(5) {
                left: 51.45%;
                top: 57.25%;
                transform: rotate(180deg);
            }
            &:nth-child(6) {
                left: 34.9%;
                top: 59.4%;
                transform: rotate(225deg);
            }
            &:nth-child(7) {
                left: 21.7%;
                top: 48.4%;
                transform: rotate(270deg);
            }
            &:nth-child(8) {
                left: 19.6%;
                top: 31.6%;
                transform: rotate(315deg);
            }
        }
        &.level-5 {
            width: 15.17%;
            height: 19.79%;
            &:nth-child(1) {
                left: 32.99%;
                top: 22.7%;
            }
            &:nth-child(2) {
                left: 47.45%;
                top: 21.05%;
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                left: 59.1%;
                top: 30.6%;
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                left: 60.7%;
                top: 45.24%;
                transform: rotate(135deg);
            }
            &:nth-child(5) {
                left: 51.45%;
                top: 57.2%;
                transform: rotate(180deg);
            }
            &:nth-child(6) {
                left: 37%;
                top: 58.85%;
                transform: rotate(225deg);
            }
            &:nth-child(7) {
                left: 25.56%;
                top: 49.1%;
                transform: rotate(270deg);
            }
            &:nth-child(8) {
                left: 23.95%;
                top: 34.35%;
                transform: rotate(315deg);
            }
        }
        &.level-4 {
            width: 11.95%;
            height: 15.27%;
            &:nth-child(1) {
                left: 36.2%;
                top: 27.25%;
            }
            &:nth-child(2) {
                left: 48.55%;
                top: 26.1%;
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                left: 58.4%;
                top: 34.45%;
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                left: 59.4%;
                top: 47%;
                transform: rotate(135deg);
            }
            &:nth-child(5) {
                left: 51.45%;
                top: 57.25%;
                transform: rotate(180deg);
            }
            &:nth-child(6) {
                left: 39.05%;
                top: 58.4%;
                transform: rotate(225deg);
            }
            &:nth-child(7) {
                left: 29.45%;
                top: 49.7%;
                transform: rotate(270deg);
            }
            &:nth-child(8) {
                left: 28.3%;
                top: 37.1%;
                transform: rotate(315deg);
            }
        }
        &.level-3 {
            width: 8.84%;
            height: 10.65%;
            &:nth-child(1) {
                left: 39.3%;
                top: 31.8%;
            }
            &:nth-child(2) {
                left: 49.65%;
                top: 31.05%;
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                left: 57.7%;
                top: 38.3%;
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                left: 58.4%;
                top: 48.8%;
                transform: rotate(135deg);
            }
            &:nth-child(5) {
                left: 51.5%;
                top: 57.3%;
                transform: rotate(180deg);
            }
            &:nth-child(6) {
                left: 41.15%;
                top: 58%;
                transform: rotate(225deg);
            }
            &:nth-child(7) {
                left: 33.3%;
                top: 50.5%;
                transform: rotate(270deg);
            }
            &:nth-child(8) {
                left: 32.5%;
                top: 39.9%;
                transform: rotate(315deg);
            }
        }
        &.level-2 {
            width: 5.62%;
            height: 6.13%;
            &:nth-child(1) {
                left: 42.5%;
                top: 36.4%;
            }
            &:nth-child(2) {
                left: 50.75%;
                top: 36.05%;
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                left: 57%;
                top: 42.2%;
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                left: 57.2%;
                top: 50.6%;
                transform: rotate(135deg);
            }
            &:nth-child(5) {
                left: 51.5%;
                top: 57.2%;
                transform: rotate(180deg);
            }
            &:nth-child(6) {
                left: 43.2%;
                top: 57.5%;
                transform: rotate(225deg);
            }
            &:nth-child(7) {
                left: 37.2%;
                top: 51.15%;
                transform: rotate(270deg);
            }
            &:nth-child(8) {
                left: 36.95%;
                top: 42.7%;
                transform: rotate(315deg);
            }
        }
        &.level-1 {
            width: 2.81%;
            height: 2.61%;
            &:nth-child(1) {
                left: 45.1%;
                top: 39.9%;
            }
            &:nth-child(2) {
                left: 51.7%;
                top: 39.8%;
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                left: 56.7%;
                top: 45%;
                transform: rotate(90deg);
            }
            &:nth-child(4) {
                left: 56.7%;
                top: 51.8%;
                transform: rotate(135deg);
            }
            &:nth-child(5) {
                left: 51.8%;
                top: 57.3%;
                transform: rotate(180deg);
            }
            &:nth-child(6) {
                left: 45%;
                top: 57.2%;
                transform: rotate(225deg);
            }
            &:nth-child(7) {
                left: 40.3%;
                top: 51.8%;
                transform: rotate(270deg);
            }
            &:nth-child(8) {
                left: 40.3%;
                top: 44.8%;
                transform: rotate(315deg);
            }
        }
        & path {
            pointer-events: auto;
            transition: all .3s ease;
            cursor: pointer;
        }
    }

    &._active {
        opacity: 1;
    }

    &__tooltip {
        position: absolute;
        transition: all 0.4s ease;
        opacity: 0;
        z-index: 30;
        display: grid;
        grid-template-columns: 60px auto;
        align-items: center;
        left: 0;
        top: 0;
        min-height: 89px;
        min-width: 256px;
        padding: 5px 7px 24px;
        background: url("../img/diagram/tooltip.svg") center no-repeat;
        background-size: 100% 105%;
        transform: translate(-50%, -100%);
        pointer-events: none;

        @media (max-width: $md3+px) {
            grid-template-columns: 40px auto;
            min-height: 50px;
            min-width: 180px;
            padding-bottom: 19px;
        }
    }

    &__tooltip-color {
        flex: 0 0 60px;
        height: 60px;
        background: #ff856a;
        border: 2px solid #f4f3f7;
        box-sizing: border-box;
        border-radius: 20px;

        @media (max-width: $md3+px) {
            height: 40px;
            border-radius: 10px;
        }
    }
    &__tooltip-text {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2em;
        color: #53557e;
        flex: 1 1 auto;
        text-align: center;
        padding: 0 5px;
        white-space: nowrap;

        @media (max-width: $md3+px) {
            font-size: 12px;
        }
    }
}
