//<RATING>====================================================================================================
.rating-block {
	display: flex;
	align-items: center;

	&.big {
		& .rating-wrap {
			width: 120px;
			height: 20px;
		}

		& .rating__line {
			font-size: 20px;
			height: 21px;
			color: #e4e4e4;
		}

		& .rating__activeline {
			font-size: 20px;
			height: 21px;
		}

		& .rating .star {
			width: 24px;
			height: 21px;
		}
	}
}
.rating-wrap {
	display: table;
	font-size: 0;
	width: 95px;
	height: 16px;
	margin-right: 20px;
}
.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 100%;
	height: 16px;
	&.edit .star {
		cursor: pointer;
	}

	.star {
		width: 16px;
		height: 16px;
		display: inline-block;
		position: relative;
		z-index: 3;
	}
}
.rating__line {
	position: absolute;
	width: auto;
	height: 16px;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	font-size: 16px;
	color: #f4f3f7;
	& > span {
		margin-right: 5px;
	}
}
.rating__activeline {
	position: absolute;
	width: 0px;
	height: 16px;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	font-size: 16px;
	overflow: hidden;
	color: #ffcf65;
	& > span {
		margin-right: 5px;
	}
}
.rating-value {
	font-size: 16px;
	line-height: 24px;
	color: #a0acbe;
}
//</RATING>====================================================================================================
