.checkbox-wrap {
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    cursor: pointer;

    & input[type="checkbox"] {
        display: none;

        &:checked {
            & ~ .checkbox__square-active {
                & svg {
                    & path {
                        &:last-child {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &__square-active {
        background: #ffffff;
        border: 1px solid #fcfdff;
        box-shadow: 0px 10px 20px rgba(145, 150, 157, 0.1);
        border-radius: 10px;
        flex: 0 0 32px;
        height: 32px;
        margin-right: 10px;
        transition: all .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        
        & svg {
            & path {
                &:last-child {
                    transition: all .3s ease;
                    opacity: 0;
                }
            }
        }
    }

    &__text {
    }
}
